/* CSS Reset */
body {
    color: white;
    margin: 0px;
    padding: 0px;
    height: 800px;
    /* background: linear-gradient(25deg, green 50%, pink 50%); */
    background-color: whitesmoke;
}

.head{
    margin: 4px 0px;
}

.left{
    position: absolute;
    left: 25px;
    top: 12px;
    /* width: 500px; */
    display: inline-block;
    color: hsl(39, 80%, 46%);
    /* border: 2px solid black; */
}

/* .left img{
    height: 45px;
    width: 77px;
    margin: 3px 14px;
    border-radius: 34%;
} */


#logo1{
    display: inline-block;
    padding-top: 0px;
    /* color: rgb(24, 150, 43); */
    font-family: 'Baloo Bhaina 2', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    background: linear-gradient(25deg, green 50%, whitesmoke 50%);


}
#and{
    display: inline-block;
    padding-bottom: 5px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 0px;
    font-size: 35px;
    /* font-style: italic; */

}

#logo2{
    display: inline-block;
    padding-bottom: 5px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 0px;
    font-size: 1.5rem;
    /* font-style: italic; */

    
}

.mid {
    position: absolute;
    top: 0px;
    left: 279px;
    width: 600px;
    margin: 12px auto;

}

.right {
    position: absolute;
    right: 10px;
    top: 12px;
    display: inline-block;

}
.search{
    padding: 6px 10px;
    margin: 6px;
    
}

.navbar li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    display: inline-block;
}

.navbar li a {
    color: grey;
    list-style: none;
    text-decoration: none;
    padding: 7px 12px;
    margin: 4px 5px;
    }

.navbar a:hover{
    color: black;
}



.base{
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 300px;
    height: 188px;
    display: block;
    /* border: 2px solid purple; */
    background-color: hsl(39, 80%, 46%);
 
}

.container img{
    position: absolute;
    right: 204px;
    top: 218px;
    height: 463px;
    width: 397px;
}

.container form{
    background-color: white;
    height: 430px;
    width: 445px;
    position: absolute;
    left: 260px;
    top: 240px;
    box-shadow: 10px 4px whitesmoke;
}

.container input{
    display: block;
    padding: 7px 138px;
    margin: 4px auto;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: black;
    border: none;
    /* width: 80%; */
}
 
textarea{
    width:80%;
    display: block;
    padding: 7px 7px;
    margin: 4px auto;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: black;
    
}

.btn{
    display: block;
    width: 100px;
    padding: 12px 15px;
    margin: 20px auto;
    border: none;
    font-weight: bold;
    background-color: hsl(39, 80%, 46%);
    cursor: pointer;
    /* align-self: center; */
}

form h1{
    display: block;
    margin: 30px 31%;
    color: grey;
    font-family: 'Ubuntu', sans-serif;
 
}

hr{
    width: 80%;
    font-weight: bold;
}